<div class="row">
    <div class="col-lg-12">
        @*<h1 class="page-header">
                Services
                <small>What We Do</small>
            </h1>*@
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Skinny", "Index", "Home")
            </li>
            <li class="active">Productos</li>
        </ol>
    </div>
</div>
