<div class="col-lg-1 col-md-1"></div>
<div class="col-lg-10 col-md-10">
    <ul class="nav nav-pills nav-justified" id="myTab">
        <li>
            <a data-toggle="tab" href="#service-one">Infantil</a>
        </li>
        <li>
            <a data-toggle="tab" href="#service-two">Profesional</a>
        </li>
        <li>
            <a data-toggle="tab" href="#service-three">Deportiva</a>
        </li>
        <li>
            <a data-toggle="tab" href="#service-four">Casual</a>
        </li>
        <li>
            <a data-toggle="tab" href="#service-five">Eventos Especiales</a>
        </li>
    </ul>

</div>
<div class="col-lg-1 col-md-1"></div>
