@{
    ViewBag.Title = "Services";
}
<div class="container">
    @Html.Partial("_BreadcrumbsPartial")

    <!-- Products Tabs -->
    <div class="row">
        @Html.Partial("_ProductMenuPartial")
    </div>
    

    <!-- Categorias Productos Images -->
    <div class="row">
       @Html.Partial("_ProductosSectionPartial")
    </div>
    <!-- /.row -->
</div>