<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <h3>Diseño y Modas</h3>
            <p>The 'Modern Business' website template by <a href="http://startbootstrap.com">Start Bootstrap</a> is built with <a href="http://getbootstrap.com">Bootstrap 3</a>. Make sure you're up to date with latest Bootstrap documentation!</p>
        </div>
        <div class="col-lg-4 col-md-4">
            <h3>Inovacción y Comodidad</h3>
            <p>
                Ofrecer siempre soluciones a personas, negocios y contratistas para que puedan vestir con estilo y comodidad, mejorando la calidad de las prendas de vestir tanto para el hogar como para el trabajo, a través de productos excelentes y con los mejores precios del mercado.
            </p>
        </div>
        <div class="col-lg-4 col-md-4">
            <h3>Compromiso</h3>
            <p>
                Nuestros clientes son nuestra razón de ser, por eso nos preocupamos por satisfacer sus necesidades, ofreciéndoles los mejores productos y una atención personalizada.
            </p>
            <p>
                El desarrollo y progreso de nuestra ciudad y su entorno, es tambien nuestro compromiso, generar empleo en el puerto petrolero es nuestra tarea.
            </p>
        </div>
    </div>
</div>

