<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Nuestros Productos</h2>
            <hr>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <a href="#">
                <img class="img-responsive img-home-portfolio" src="/Content/images/productos/Vestido_Encaje_Rosa.png">
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <a href="#">
                <img class="img-responsive img-home-portfolio" src="/Content/images/productos/Ropa_Entrenamiento_Mujer.png">
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <a href="#">
                <img class="img-responsive img-home-portfolio" src="/Content/images/productos/Trabajo_mujer_2.png">
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <a href="#">
                <img class="img-responsive img-home-portfolio" src="/Content/images/productos/Trabajo_mujer_3.png">
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <a href="#">
                <img class="img-responsive img-home-portfolio" src="/Content/images/productos/Trabaj_Mujer_1.png">
            </a>
        </div>
        @*<div class="col-lg-4 col-md-4 col-sm-6">
            <a href="#">
                <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
            </a>
        </div>*@
    </div>
</div>